@model OSPasteBin.BusinessObjects.PasteNote

@{
    ViewBag.Title = "Home Page";
}

<h1>@Model.Title</h1>


<pre>
    @Model.Post
</pre>

<input type="button" value="Copy" />

<input type="button" value="Raw" />

<input type="button" value="Share" />
