@{
    ViewBag.Title = "New";
}

<h2>New</h2>


@using (Html.BeginForm("New", "PasteNote")) {
    @Html.ValidationSummary(true)

    @Html.Partial("PasteNoteNewEditForm")
    
    <p>
        <input type="submit" value="Save" />
    </p>   
}

<script src="~/Scripts/jquery-1.7.1.min.js"></script>
<script>
    /*
    $('input[type=submit]').click(
            function (e) {
                e.preventDefault();

                var btn = $(this);
                var form = btn.closest('form');
                console.log(form.serialize());
                form.submit()
            }
        );
    */
</script>
