@{
    ViewBag.Title = "New";
}

<h2>New</h2>

@using (Html.BeginForm("New", "PasteNote"))
{
    @Html.ValidationSummary(true)

    @Html.Partial("PasteNoteNewEditForm")
    
    <p>
        <input id="submitpastenote" type="submit" value="Save" />
    </p>   
}

<div id="selectedTags">
    <ul></ul>
</div>

@section scripts{

    <script src="~/Scripts/jquery-ui.min.js"></script>
    <script src="~/Scripts/libs/Tagger/os.tagger.min.js"></script>


    <script>
        // Tags
        var reqUrl = "/pastebin/api/Tags";
        $tagContainer = $('#selectedTags ul');

        $("#tagInput").taggable({

            delimmiter: ';',

            tagContainer: $tagContainer,

            reqUrl: reqUrl
        });

    </script>
    <script>

        // Submit
        $('#submitpastenote').click(
            function (e) {
                e.preventDefault();

                var btn = $(this);
                var form = btn.closest('form');

                // Set Tags
                var tags = "";
                $tagContainer.find('li').each(function () {
                    tags += $(this).text() + ";";
                });

                $("#pastenotetags").val(tags);

                form.submit();
            });
    </script>

}

